@font-face {
  font-family: billabong;
  src: url(../src/fonts/billabong.ttf);
}


.profileImg-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


.center-thing {
  max-width: 460px;
  margin: auto;

}